html {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0;
  padding: 0;
}

header {
  background: #0c5445;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid black;
  width: 100%;
}

h1 {
  text-align: center;
  color: #fdfdfd;
  font-family: 'Roboto', serif;
}

#headLineA {
  background: #0c5445;
  color: #fdfdfd;
}

.text-muted {
  margin: 0 auto;
}

ul {
  margin-left: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  flex-direction: row;
}

li {
  font-size: 32px;
  margin-bottom: 10%;
  background: white;
  text-align: center;
  list-style: none;
}

li:nth-child(even) {
  background: white;
  margin-bottom: 5%;
}

li:nth-child(odd) {
  background: white;
  padding-bottom: 5%;
  margin-bottom: 0;
}

.ingredients li:nth-child(odd) {
  background: none;
}

a {
  text-decoration: none;
  padding-top: 0;
  color: #0c5445;
}

a:nth-child(odd) {
  background: none;
}

.ingredients {
  display: grid;
  grid-template-columns: 50% 50%;
}

div.ingredients div li p {
  font-size: 14px;
  font-weight: lighter;
}

div.ingredients div:first-of-type p{
  font-weight: bold;
}

/* idSpecific */
#mealList {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  margin-top: 5%;
}

main#specMain div p {
  font-size: 16px;
  margin-top: 2%;
  margin-bottom: 5%;
}

main#specMain div h2 {
  text-align: center;
}

img {
  max-width: 1200px;
  width: 80%;
  margin-left: 10%;
  margin-top: 3%;
}

@media screen and (max-width: 480px) {
  html {
    max-width: 480px;
  }

  body {
    max-width: 480px;
  }

  header {
    margin: 0;
  }

  h3 {
    margin-top: 10%;
  }

  h2 {
    font-family: 'Roboto', serif;
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: 0;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    font-size: 32px;
    margin-bottom: 10%;
    background: white;
    text-align: center;
  }

  li:nth-child(even) {
    background: white;
    margin-bottom: 5%;
  }

  li:nth-child(odd) {
    background: #a9c4bb;
    padding-bottom: 5%;
    margin-bottom: 0;
  }

  .ingredients li:nth-child(odd) {
    background: none;
  }

  #sortList a li {
    margin-bottom: 5%;
    padding-top: 5%;
  }

  div {
    height: 400px;
    margin-top: 2%;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 10%;
    font-weight: bold;
  }

  div.p-5 {
    padding-top: 0;
  }

  .specP {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
  }

  .specH2 {
    font-size: 26px;
    margin-top: 2%;
  }

  a {
    text-align: center;
  }

  a:nth-child(odd) {
    background: none;
  }

  img {
    max-width: 480px;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }

  #mealList {
    display: block;
  }
}
