@media screen and (max-width: 480px) {
  html {
    margin: 0;
    padding: 0;
    max-width: 480px;
    width: 100%;
  }

  body {
    width: 100%;
    max-width: 480px;
    margin: 0;
    padding: 0;
  }

  header {
    background: #0c5445;
    margin: 0;
    padding-top: 10px;
    border-bottom: 1px solid black;
    width: 100%;
  }

  h3 {
    margin-top: 10%;
  }

  div.ingredients div li p {
    font-size: 14px;
    font-weight: lighter;
  }

  div.ingredients div:first-of-type p{
    font-weight: bold;
  }

  h1 {
    text-align: center;
    color: #fdfdfd;
    font-family: 'Roboto', serif;
  }

  h2 {
    font-family: 'Roboto', serif;
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: 0;
    margin: 0 auto;
  }

  ul {
    margin-left: 0%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }

  li {
    list-style: none;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10%;
    font-family: 'Open Sans', sans-serif;
  }

  #sortList a li {
    margin-bottom: 5%;
    padding-top: 5%;
  }

  div {
    height: 400px;
    margin-top: 2%;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 10%;
    font-weight: bold;
  }

  div.p-5 {
    padding-top: 0;
  }

  .specP {
    font-size: 20px;
    text-align: center;
    margin-left: 0;
  }

  .specH2 {
    font-size: 26px;
    margin-top: 2%;
  }

  a {
    text-decoration: none;
    text-align: center;
    padding-top: 0;
    color: #0c5445;
  }

  a:nth-child(odd) {
    background: #a9c4bb;
  }

  #headLineA {
    background: #0c5445;
    color: #fdfdfd;
  }

  img {
    max-width: 480px;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
  }

  .ingredients {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
